@charset "UTF-8";

/* TODAS AS DEMAIS MEDIAS*/

/*typical device breakpoints

pequenas telas - ate 600px
celular - 600 ate 768 px
tablet - 768 - 992 px
desktop  -  92 1200 px
grandes telas - acima de 1200 */

@media print { /* imepressão*/

    *{
        font-family: 'Courier New', Courier, monospace;
    }

    body{
        background-image: url(../imegens/back-print.jpg);
    }

    main h1{
       
        text-shadow: none;
        color: black;
    }

    main{
        border: 2px solid black;
    }

    img#phone{
        display: none;
    
    }
    
    img#tablet{
        display: none;
    
    }
    
    img#print{
        display: block;
    
    }
    
    img#pc{
        display: none;
    
    }
    img#tv{
        display: none;
    
    }
    
    
}


@media  screen and (min-width: 768px) and (max-width: 992px) { /*tablet*/

    body{ 
        background-image: url(../imegens/back-tablet.jpg);

    }

    img#phone{
        display: none;
    
    }
    
    img#tablet{
        display: block;
    
    }
    
    img#print{
        display: none;
    
    }
    
    img#pc{
        display: none;
    
    }
    img#tv{
        display: none;
    
    }
    
}

@media  screen and (min-width: 992px) and (max-width: 1200px) { /*pc*/

    body{ 
        background-image: url(../imegens/back-pc.jpg);

    }

    img#phone{
        display: none;
    
    }
    
    img#tablet{
        display: none;
    
    }
    
    img#print{
        display: none;
    
    }
    
    img#pc{
        display: block;
    
    }
    img#tv{
        display: none;
    
    }
    
}

@media  screen and (min-width: 1200px){ /* grandes telas*/

    body{ 
        background-image: url(../imegens/back-tv.jpg);

    }

    main{
        width: 700px;
    }

    img#phone{
        display: none;
    
    }
    
    img#tablet{
        display: none;
    
    }
    
    img#print{
        display: none;
    
    }
    
    img#pc{
        display: none;
    
    }
    img#tv{
        display: block;
    
    }
    
}